.resoult_header {
    text-transform: capitalize;
    padding: 2em;
}

.photo_container_resoults {
    width: 100%;
    padding: 40px;
    background: white;
    columns: 4;
    column-gap: 20px;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/*----- Modal -----*/
.modal_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 150px;
    left: 150px;
    right: 150px;
    bottom: 150px;
    border: lightgray solid 1px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0, 0.5)
}

.modal_header {
    position: absolute;
    top: 10px;
    left: 10px;
}

.authorPhoto_modal {
    position: absolute;
    width: 10em;
    top: 5px;
    left: 5px;
}

.createdAt_modal {
    position: absolute;
    width: 10em;
    top: 50px;
    left: 5px;
}

.modal_button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
}

.photo_modal {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.locationPhoto_modal {
    position: absolute;
    left: 10px;
    bottom: 10px;
}



